@import 'normalize'

.available-characters
  position: fixed
  top: 0
  left: 0
  width: 15%
  border-right: 1px solid black
  height: 100vh
  background: gray

.available-characters-form
  position: fixed
  bottom: 3em

.characters
  width: 100%


.character
  border: 1px solid red
  background: orange
  margin: .1em
  padding: .2em

.raid
  display: inline-block
  border: 1px solid black
  padding-bottom: 1em
  width: 15%
  margin: 0 1em 1em 0

.raids
  position: fixed
  top: 0
  left: 16%
  width: 100%
  // border: 1px solid green

.raids > .characters
  display: inline-block
