.AvailableCharacterList {
  position: fixed;
  top: 5em;
  left: 1em;

  width: 280px;
  max-height: 90vh;
  overflow-y: scroll;
  padding-right: .2em;
}

.AvailableCharacterList-noCharacters {
  margin-top: 8em;
  font-size: 1.6em;
  text-align: center;
}
