.AvailableCharacterList {
  @include span-columns(2);
}

.AvailableCharacterList-form {
  position: relative;
}

.AvailableCharacterList-form > input {
  position: relative;
}

.AvailableCharacterList-form > button {
  @include button(flat, $action-color);
  @include position(absolute, 0em 0em 0em null);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  outline: none;
  padding: 5px 10px;
}
