.AvailableCharacterList {
  @include span-columns(3);
  position: fixed;
  top: 5em;
  left: 1em;

  max-height: 87vh;
  overflow: auto;
}

.AvailableCharacterList-form {
  position: relative;
}

.AvailableCharacterList-form > input {
  position: relative;
}

.AvailableCharacterList-form > button {
  @include button(flat, $action-color);
  @include position(absolute, 0em 0em 0em null);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  outline: none;
  padding: 5px 10px;
}
