.Character {
  height: 20px;
  margin-bottom: .3em;
  background: lighten($dark-gray, 5%);
  border-radius: 2px;
  border: 1px solid lighten($dark-gray, 10%);
  cursor: grab;

  position: relative;
}

.Character-role, .Character-spec, .Character-move, .Character-settingsIcon {
  padding: 0 .3em;
  border-right: 1px solid lighten($dark-gray, 10%);
  float: left;
  cursor: pointer;
}

.Character-name {
  padding: 0 .4em;
}

.Character-delete, .Character-ilvl {
  color: $white;
  padding: 0 .3em;
  border-left: 1px solid lighten($dark-gray, 10%);
  float: right;
}

.Character-settings {
  cursor: pointer;
}

.Character-normal, .highlighted {

  .fa-shield {
    color: #749AF2;
  }

  .fa-bolt {
    color: #F2E441;
  }

  .fa-gavel {
    color: #F06232;
  }

  .fa-plus {
    color: #74F28D;
  }

  .fa-remove {
    color: $dark-red;
  }

  .fa-trash {
    color: $light-gray;
  }

  .fa-question {
    color: $white;
  }

  .fa-shield, .fa-bolt, .fa-gavel, .fa-plus {
    text-shadow: 1px 1px 1px #000;
  }
}

@each $class, $color in $class-colors {
  .bg-#{$class} {
    background: #{$color};
  }

  .fg-#{$class} {
    color: #{$color};
  }
}

@each $class, $specs in $classSpecs {
  @each $spec in $specs {
    .Spec-#{$spec} {
      width: 16px;
      height: 16px;
      margin-top: 2px;
      display: block;
      background: url('../images/specs/#{$class}/#{$spec}1.png');
      background-size: 100%;
      -webkit-background-size: 100%;
    }
  }
}

.Spec-unknown {
  width: 15px;
  height: 15px;
  margin-top: 2px;
  display: block;
  background: $dark-gray;
  border: 1px solid $light-gray;
  border-radius: 1px;
}

.Character-spec {
  color: $light-gray;
  font-size: 0.8em;
}

.Character-spec.highlighted {
  color: $white;
}
