.Character {
  margin-bottom: .3em;
  padding: .3em;
  text-align: center;
  text-shadow: 2px 2px 1px #000;
  border-radius: 4px;
}

.Character-delete {
  float: right;
}

.Character-delete .fa-remove {
  color: red;
}

@each $class, $color in $class-colors {
  .#{$class} {
    background: #{$color};
  }
}
