.Character {
  margin-bottom: .3em;
  padding: .3em;
  color: $dark-gray;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
}

.Character-delete {
  float: right;
}

.Character-delete .fa-remove {
  text-shadow: 1px 1px 1px #000;
  color: red;
}

@each $class, $color in $class-colors {
  .bg-#{$class} {
    background: #{$color};
  }

  .fg-#{$class} {
    color: #{$color};
  }
}
