.ImportGuildTab {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.ImportGuildTab-form {
  width: 220px;
  padding-right: 20px;
  margin: 0 .5em 1em;
  // border-right: 1px solid $base-border-color;

  select {
    background: $base-background-color;
    padding: .5em;
    border: 1px solid $base-border-color;
    border-radius: 2px;
    width: 100%;
  }
}

.ImportGuildTab-error {
  border: 1px solid $error-color;
  border-radius: 2px;
  background: rgba($error-color, 0.2);
  padding: 1em;
  text-align: center;
}

.ImportGuildTab-searchButton {
  width: 100%;
  margin-top: .5em;
}

.ImportGuildTab-importButton {
  width: 100%;
  margin-top: .5em;
  background: $light-blue;

  &:hover,
  &:focus {
    background-color: darken($light-blue, 15%);
  }
}

.ImportGuildTab-results {
  overflow-y: auto;
  max-height: 60vh;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 500px;
  padding-right: .2em;
}

.ImportGuildTab-rank {
  background: lighten($dark-gray, 5%);
  margin-bottom: 1em;
  // border: 1px solid $base-border-color;
  border-top: 5px solid lighten($dark-gray, 40%);
  border-radius: 2px;
}

.ImportGuildTab-rankHeader {
  padding: .4em 1em;
  border-bottom: 1px solid $base-border-color;
  font-weight: bold;
}

.ImportGuildTab-rankHeader.selected {
  background: rgba($dark-blue, 0.2);
}

.ImportGuildTab-checked, .ImportGuildTab-unchecked {
  padding-top: .1em;
  float: right;
}

.ImportGuildTab-checked {
  color: $limey;
}

.ImportGuildTab-unchecked {
  color: $error-color;
}

.ImportGuildTab-selectIcon {
  float: right;
}

.ImportGuildTab-rankCharacters {
  padding: .4em 1em;
}

.ImportGuildTab-character {
  display: inline-block;
  margin-right: .3em;
}
