.ImportGuildTab {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.ImportGuildTab-form {
  width: 220px;
  padding-right: 20px;
  margin: 0 .5em 1em;
  // border-right: 1px solid $base-border-color;
}

.ImportGuildTab-searchButton {
  width: 100%;
  margin-top: .5em;
  color: $dark-gray;
}

.ImportGuildTab-importButton {
  width: 100%;
  margin-top: .5em;
  background: $light-blue;
  color: $dark-gray;
}

.ImportGuildTab-results {
  overflow-y: auto;
  max-height: 60vh;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 500px;
}

.ImportGuildTab-rank {
  background: lighten($dark-gray, 5%);
  margin-bottom: 1em;
  border: 1px solid $base-border-color;
}

.ImportGuildTab-rankHeader {
  padding: .4em;
  border-bottom: 1px solid $base-border-color;
}

.ImportGuildTab-rankHeader.selected {
  background: rgba($dark-blue, 0.4);
}

.ImportGuildTab-selectIcon {
  float: right;
}

.ImportGuildTab-rankCharacters {
  padding: .4em;
}

.ImportGuildTab-character {
  display: inline-block;
  margin-right: .3em;
}
