.Menubar {

  // Fixed top menubar
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;

  background: lighten($dark-gray, 10%);
  border-bottom: 1px solid $base-border-color;
}

.Menubar-links {

}

.Menubar-item {
  display: inline-block;

  padding: 1em;
}

.Menubar-item:hover {
  background: lighten($dark-gray, 15%);
}
