.Raid {
  width: 500px;

  // Leave a bit of space to drop further characters
  padding-bottom: 2em;

  text-align: center;
  background: lighten($dark-gray, 5%);
  border-bottom: 1px solid $base-border-color;
  margin: 0 .5em 1em;
}

.Raid.hover {
  background: $light-blue;
}

.Raid-header {
  padding: .5em;
  border-top: 1px solid $base-border-color;
  border-bottom: 1px solid $base-border-color;
  font-weight: bold;
  color: $action-color;
}

.Raid-deleteIcon {
  padding-top: .1em;
  color: $error-color;
  float: right;
}

.Raid-body {
  padding: 1em;
}

.Raid-characters {
  width: 50%;
  float: left;
}

.Raid-summary {
  margin-left: calc(50% + .5em);
}

.Raid-category {
  padding: 0 0 0 .5em;
  margin-bottom: .5em;
}

.Raid-categoryHeader {
  padding: .5em 0;
  background: lighten($dark-gray, 10%);
  border-radius: 2px;
  font-weight: bold;
  border-top: 5px solid darken($light-blue, 20%);
}

.Raid-categoryBody {
  padding: .5em 0;
}

.Raid-tokenList {

}
