.Raid {
  @include span-columns(3 of 9);

  // Leave a bit of space to drop further characters
  // padding-bottom: 2em;
  padding: 0 .3em 2em;

  text-align: center;
  // border: 1px solid $base-border-color;
  background: lighten($dark-gray, 5%);
  border-bottom: 1px solid $base-border-color;

  margin-bottom: 1em;
}

.Raid:nth-child(3n+3) {
  @include omega();
}

.Raid-header {
  padding: .5em;
  border-top: 1px solid $base-border-color;
}
