.Raid {
  width: 500px;

  // Leave a bit of space to drop further characters
  padding-bottom: 2em;

  text-align: center;
  background: lighten($dark-gray, 5%);
  border-bottom: 1px solid $base-border-color;
  margin: 0 .5em 1em;
}

.Raid-header {
  padding: .5em;
  border-top: 1px solid $base-border-color;
  border-bottom: 1px solid $base-border-color;
  font-weight: bold;
  color: $action-color;
}

.Raid-body {
  padding: .5em;
}

.Raid-characters {
  width: 50%;
  float: left;
}

.Raid-summary {
  margin-left: 50%;
}
